/* <<<<<<<   Header code   >>>>>>>>>>>>*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

    .logo img {
        width: 50px;
        animation: rotate 5s linear infinite;
    }

nav ul {
    margin-right: 40px; 
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}

    nav a::after {
        content: '';
        display: block;
        height: 3px;
        width: 0;
        background: #e67e22;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
    }

    nav a:hover::after,
    nav a.active::after {
        width: 100%;
    }

    nav a:hover {
        color: #e67e22;
    }
/* <<<<<<<<<<<  Header Code ends here  >>>>>>>>>>>>>>> */


/* Events Section */
.events {
    margin: 50px 0;
}

.events h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 30px;
    text-align: center;
}

.event-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.event-h2 {
    color: #e67e22;
    margin-bottom: 10px;
}

.event-p {
    color: #555;
    font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    .event-card {
        width: 100%;
    }
}




/* <<<< Footer code starts here >>>>>>>>>> */
/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

/* <<<< Footer code ends here   >>>>>>>> */